<div class="col-md-2"></div>
<div class="col-md-9" *ngIf="user">
  <div class="container">
    <div class="table-responsive">
      <div class="col-md-6">
        <h4>User Name</h4>
        <p>{{ user.user_email }}</p>
        <h4>First Name</h4>
        <p>{{ user.user_firstName }}</p>
        <h4>Last Name</h4>
        <p>{{ user.user_lastName }}</p>
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <table class="table table-striped table-hover">
                  &nbsp;<label>Search by</label>&nbsp;
                  <select id = "searchBy" [(ngModel)]="searchBy" name="searchBy">
                      <option value = "name">name</option>
                      <option value = "company">company</option>
                      <option value = "event">event found (contact)</option>
                  </select>&nbsp;&nbsp;&nbsp;
                  <input type="text" [(ngModel)]="searchBar" name="searchBar" placeholder="Search..">
                  <button type="submit">Search</button>
                    <thead>
                      <tr>
                        <th>Contacts</th>
                        <th>View</th>
                        <th>Remove</th>
                      </tr>
                    </thead>
                    <tbody class="tableBody">
                      <tr class="row1" *ngFor="let c of filteredContacts">
                          <td>{{c.user_firstName}}</td>
                          <td><button class="btn btn-default" (click)="viewContact(c.user_email)">View</button></td>
                          <td><button class="btn btn-default" (click)="delContact(c.user_email)">Remove</button></td>                      
                      </tr>
                    </tbody>
                  </table>
                </form>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
