<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-9" *ngIf="event">
    <google-map *ngIf="center"
      height="400px"
      width="100%" 
      [center]="center">

      <map-marker
        #markerElem
        *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          (mapClick)="openMarkerInfo(markerElem, marker.info)">
      </map-marker>
      <map-info-window>{{ infoContent }}</map-info-window>
    </google-map>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ event.ev_name }} (Event ID: {{ event._id }})
        </mat-card-title>
        <mat-card-subtitle>
          {{ event.ev_description }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Company: {{ event.ev_company }}</p>
        <p>
          Address:
          {{ event.ev_address.street }}
          {{ event.ev_address.postalCode }}
          {{ event.ev_address.city }}
          {{ event.ev_address.province }}
          {{ event.ev_address.country }}
        </p>
      </mat-card-content>
    </mat-card>
    <h4>Attendees</h4>
    <div *ngFor="let attendee of attendeeUsers">
      <app-business-card [userOB]="attendee"></app-business-card>
    </div>
  </div>
</div>
