<div class="col-md-2"></div>
<div class="col-md-8 col-sm-12">
  <h1>Welcome to mesh!</h1>
  <h2>Enter the following information to create an account</h2>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label class="control-label" for="firstName">First Name:</label>
      <input
        class="form-control"
        id="user_firstName"
        [(ngModel)]="user.user_firstName"
        name="firstName"
        required
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="lastName">Last Name:</label>
      <input
        class="form-control"
        id="user_lastName"
        [(ngModel)]="user.user_lastName"
        name="lastName"
        required
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="bio">Biography:</label>
      <input
        class="form-control"
        id="user_bio"
        [(ngModel)]="user.user_bio"
        name="bio"
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="facebook">Facebook:</label>
      <input
        class="form-control"
        id="user_facebook"
        [(ngModel)]="user.user_contactInfo.facebook"
        name="facebook"
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="instagram">Instagram:</label>
      <input
        class="form-control"
        id="user_instagram"
        [(ngModel)]="user.user_contactInfo.instagram"
        name="instagram"
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="linkedIn">LinkedIn:</label>
      <input
        class="form-control"
        id="user_linkedIn"
        [(ngModel)]="user.user_contactInfo.linkedIn"
        name="linkedIn"
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="twitter">Twitter:</label>
      <input
        class="form-control"
        id="user_twitter"
        [(ngModel)]="user.user_contactInfo.twitter"
        name="twitter"
      />
    </div>

    <div class="form-group">
      <label class="control-label" for="phoneNumber">Phone Number:</label>
      <input
        class="form-control"
        id="user_phoneNumber"
        [(ngModel)]="user.user_contactInfo.phoneNumber"
        name="phoneNumber"
      />
    </div>

    <button mat-raised-button color="accent" routerLink="/home">
      Back to home</button
    >&nbsp;&nbsp;
    <button mat-raised-button color="accent" type="submit">Create</button
    >&nbsp;&nbsp;
  </form>
</div>
