<main id="landing-page">
    <div style="width:100%; height: 200px;">
        <div class="cell-container center">
            <br><br>
            <h1>Welcome to mesh!</h1>
            <br><br><br><br>
            <img src="/assets/landing-page/mesh-landing-page-image.jpg">
        </div>
        <div class="cell-container">
            <br><br><br>
            <img src="/assets/landing-page/holding-business-card.jpg" class="holding-business-card">
            <br><br><br>

            <br><br><br><br><br><br><br><br><br><br><br><br>
            <h2>A vibrant platform where you can</h2>
            <br>
            <ul>
                <li>Connect with potential business partners</li>
                <li>Build meaningful business relationships</li>
                <li>Find local events</li>
                <li>Keep track of people at various business events</li>
            </ul>
            <br>
            <button class="button" mdbWavesEffect (click)="auth.login()">Log In/Sign Up</button>
        </div>
    </div>
</main>