<main id="about-us">
    <h1 class="center">Mesh Team</h1><br><br>
    <div style="width:100%; height: 200px;">
        <div class="cell-container center">
            <img src="/assets/about-us/julian.jpg" alt="Julian Boyko" class="rounded-corners">
            <div>
               <br>
               <h2>Julian Boyko</h2>
               <h3>Co-Creator</h3>
               <p> - Software Developer<br> - Avid Reader<br> - Gym Enthusiast <br> - Foodie<br><br><i>“Believe you can and you’re halfway there.”</i><br>Theodore Roosevelt</p><br>
               <a href="https://www.linkedin.com/in/julian-boyko-3064041a2/" type="button" class="btn btn-li"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</a><br>
               <a href="https://github.com/julianboyko/" type="button" class="btn btn-git"><i class="fab fa-github-in pr-1"></i> GitHub</a>
            </div>
         </div>
         <div class="cell-container center">
            <img src="/assets/about-us/varshan.jpg" alt="Varshan Nagarajan" class="rounded-corners">
            <div>
               <br>
               <h2>Varshan Nagarajan</h2>
               <h3>Co-Creator</h3>
               <p>🖥️ Professional developer with years of experience<br>🎮 Will take you apart in Smash on the Gamecube<br>🛹 Wannabe Skater<br>⌨️ Uses a Dvorak Keyboard<br><br><i>“Random Quote”</i><br>John Doe</p><br>
               <a href="https://www.linkedin.com/in/varshan-n/" type="button" class="btn btn-li"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</a><br>
               <a href="https://github.com/varshannagarajan" type="button" class="btn btn-git"><i class="fab fa-github-in pr-1"></i> GitHub</a>
            </div>
         </div>
         <div class="cell-container center">
            <img src="/assets/about-us/neil.jpg" alt="Neil Ong" class="rounded-corners">
            <div>
               <br>
               <h2>Neil Ong</h2>
               <h3>Co-Creator</h3>
               <p> - Software Developer<br> - Delusional Gamer <br> - Amateur Cyclist<br> - Raptors Superfan<br><br><i>“Everything negative – pressure, challenges – is all an opportunity for me to rise.”</i><br>Kobe Bean Bryant</p><br>
               <a href="https://www.linkedin.com/in/neilong/" type="button" class="btn btn-li"><i class="fab fa-linkedin-in pr-1"></i> Linkedin</a><br>
               <a href="https://github.com/neilong31" type="button" class="btn btn-git"><i class="fab fa-github-in pr-1"></i> GitHub</a>
            </div>
         </div>
    </div>

    <div class="container">
      <h1 class="center">Technologies Used</h1><br><br>
      <div class="row">
         <ol>
           <li class="rules"><h4><b>MEAN Stack</b></h4></li>
           <ul>
             <p>
               The MEAN stack is software stack for building web applications, back-ends and web sites. The "M" stands for MongoDB which is the database we use to store all our event and user
               information. The "E" stands for Express.js which is a modular web application framework package for Node.js. The next letter is "A" which stands for AngularJS. This is the front-end
               framework that we chose to use to flesh out our web application and create all it's functionality and usability. Lastly, the "N" - which stands for Node.js, is the 
               application runtime that the MEAN stack operates on. 
             </p>
           </ul>
           <li class="rules"><h4><b>Amazon Web Services (AWS)</b></h4></li>
           <ul>
             <p>
                The AWS service that was used in this project was the S3 service. We used S3 buckets to store user profile pictures and user logo pictures. 
             </p>
           </ul>
           <li class="rules"><h4><b>Google Maps API</b></h4></li>
           <ul>
             <p>
                Google Maps API was integrated to show the location of an event on a map.
             </p>
           </ul>
         </ol>
      </div>
    </div>
    
 </main>
