<main id="team-page">
    <h1 class="center">Mesh Team</h1><br><br>
    <div style="width:100%; height: 200px;">
        <div class="cell-container center">
            <img src="/assets/about-us/julian.jpg" alt="Julian Boyko" class="rounded-corners">
            <div>
               <br>
               <h2>Julian Boyko</h2>
               <h3>Co-Creator</h3>
               <p>💻 Software Developer<br> ♟️  &nbsp;Chess Player Enthusiast<br>🍸 Creative Mixologist <br>🥙Shawarma Lover Guy<br><br>“Changing the world one line of code at a time”</p><br>
               <h4><a href="https://www.linkedin.com/in/julian-boyko-3064041a2/">LinkedIn</a></h4>
               <h4><a href="https://github.com/julianboyko/">GitHub</a></h4>
            </div>
         </div>
         <div class="cell-container center">
            <img src="/assets/about-us/varshan.jpg" alt="Varshan Nagarajan" class="rounded-corners">
            <div>
               <br>
               <h2>Varshan Nagarajan</h2>
               <h3>Co-Creator</h3>
               <p>🖥️ Professional developer with years of experience<br>🎮 Will take you apart in Smash on the Gamecube<br>🛹 Wannabe Skater<br>⌨️ Uses a Dvorak Keyboard<br><br>“Programming is really fun except when it isn't”</p><br>
               <h4><a href="https://www.linkedin.com/in/varshan-n/">LinkedIn</a></h4>
               <h4><a href="https://github.com/varshannagarajan">GitHub</a></h4>
            </div>
         </div>
         <div class="cell-container center">
            <img src="/assets/about-us/neil.jpg" alt="Neil Ong" class="rounded-corners">
            <div>
               <br>
               <h2>Neil Ong</h2>
               <h3>Co-Creator</h3>
               <p>👨🏾&zwj;💻 Enthusiastic Developer<br>🏓 Semi-Professional Ping Pong Player<br>🍍 Pineapples on Pizza<br>🎤 I sing a little too<br><br>“You can do anything you put your mind to”</p><br>
               <h4><a href="https://www.linkedin.com/in/neilong/">LinkedIn</a></h4>
               <h4><a href="https://github.com/neilong31">GitHub</a></h4>
            </div>
         </div>
    </div>
 </main>
