<div class="col-md-2"></div>
<div class="col-md-8" *ngIf="user">
  <h4>Welcome {{ user.user_firstName }} {{ user.user_lastName }}!</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Upcoming Events</th>
        <th>Date</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody class="tableBody">
      <tr class="row1" *ngFor="let event of userEvents">
        <td>{{ event.ev_name }}</td>
        <td>{{ getDate(event.ev_date) | date: "mediumDate" }}</td>
        <td>
          <button
            mat-raised-button
            color="accent"
            (click)="viewEvent(event._id)"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
