<div class="col-md-2"></div>
<div class="col-md-8" *ngIf="user">
  <br/>
  <br/>
  <div>
    <h2>Join Event</h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <mat-form-field style="width: 100%;">
        <input
          matInput
          class="form-control"
          id="ev_code"
          [(ngModel)]="eventCode"
          name="eventCode"
          placeholder="Event Code ..."
          required
        />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Join</button>
    </form>
  </div>

  <br/>
  <br/>
  <h2>Upcoming Events</h2>
  <mat-form-field style="width: 100%;">
    <input
      matInput
      class="form-control"
      type="text"
      [(ngModel)]="term"
      placeholder="Search"
    />
  </mat-form-field>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Event Name:</th>
        <th>Company:</th>
        <th>Description:</th>
        <th>Catergory</th>
        <th>Start Date:</th>
        <th>End Date:</th>
        <th>Address:</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tableBody">
      <ng-container *ngFor="let event of userEvents | filter: term">
        <tr *ngIf="(event.ev_date.start && event.ev_date.start > currDate)">
          <td>{{ event.ev_name }}</td>
          <td>{{ event.ev_company }}</td>
          <td>{{ event.ev_description }}</td>
          <div *ngFor="let cat of event.ev_category">
            <td>{{ cat }}</td>
          </div>
          <td *ngIf="event.ev_date">
            {{ event.ev_date.start | date: "medium" }}
          </td>
          <td *ngIf="event.ev_date">{{ event.ev_date.end | date: "medium" }}</td>
          <td>
            <a [href]="mapsLink(event.ev_address)" target="_blank">
              {{ event.ev_address.street }} {{ event.ev_address.postalCode }}
              {{ event.ev_address.city }} {{ event.ev_address.province }}
              {{ event.ev_address.country }}</a
            >
          </td>
          <td>
            <button
              mat-raised-button
              color="accent"
              (click)="viewEvent(event._id)"
            >
              View
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <br/>
  <h2>Past Events</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Event Name:</th>
        <th>Company:</th>
        <th>Description:</th>
        <th>Catergory</th>
        <th>Start Date:</th>
        <th>End Date:</th>
        <th>Address:</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tableBody">
      <tr *ngFor="let event of userEvents | filter: term">
        <td>{{ event.ev_name }}</td>
        <td>{{ event.ev_company }}</td>
        <td>{{ event.ev_description }}</td>
        <div *ngFor="let cat of event.ev_category">
          <td>{{ cat }}</td>
        </div>
        <td *ngIf="event.ev_date">
          {{ event.ev_date.start | date: "medium" }}
        </td>
        <td *ngIf="event.ev_date">{{ event.ev_date.end | date: "medium" }}</td>
        <td>
          <a [href]="mapsLink(event.ev_address)" target="_blank">
            {{ event.ev_address.street }} {{ event.ev_address.postalCode }}
            {{ event.ev_address.city }} {{ event.ev_address.province }}
            {{ event.ev_address.country }}</a
          >
        </td>
        <td>
          <button
            mat-raised-button
            color="accent"
            (click)="viewEvent(event._id)"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
