<div class="col-md-2"></div>
<div class="col-md-8" *ngIf="user">
  <ngb-alert
    *ngIf="staticAlertClosed"
    (close)="staticAlertClosed = true"
    routerLink="/userCreate"
    routerLinkActive="active"
  >
    <strong>Warning!</strong> Please enter your profile information!
  </ngb-alert>
  <div class="userInfo">
    <div class="row">
      <h2>User Profile</h2>
      <div class="col-md-4">
        <h4>First Name</h4>
        <p>{{ user.user_firstName }}</p>
        <h4>Last Name</h4>
        <p>{{ user.user_lastName }}</p>
        <h4>Email Address</h4>
        <p>{{ user.user_email }}</p>
        <button
          mat-raised-button
          color="accent"
          routerLink="/userUpdate"
          routerLinkActive="active"
        >
          Edit
        </button>
      </div>
      <div class="col-md-4" *ngIf="user.user_profilePicture">
        <h4>Logo Photo</h4>
        <img
          src="{{ user.user_profilePicture }}"
          style="border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;"
        />
      </div>
      <div class="col-md-4" *ngIf="user.user_logoPicture">
        <h4>Profile Photo</h4>
        <img
          src="{{ user.user_logoPicture }}"
          style="border: 1px solid #ddd;
              border-radius: 4px;
              padding: 5px;
              width: 150px;"
        />
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h2>Contacts</h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <mat-form-field>
        <mat-label>Search by</mat-label>
        <mat-select id="searchBy" [(ngModel)]="searchBy" name="searchBy">
          <mat-option value="name">name</mat-option>
          <mat-option value="company">company</mat-option>
          <mat-option value="event">event found (contact)</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="searchBar"
          name="searchBar"
          placeholder="Search.."
        />
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="accent" type="submit">
        Search
      </button>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>View</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody class="tableBody">
          <tr class="row1" *ngFor="let c of filteredContacts">
            <td>{{ c.user_firstName }}</td>
            <td>
              <button
                mat-raised-button
                color="accent"
                (click)="viewContact(c.user_email)"
              >
                View
              </button>
            </td>
            <td>
              <button
                mat-raised-button
                color="accent"
                (click)="delContact(c.user_email)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
