<div class="col-md-2"></div>
<div class="col-md-8 col-sm-12">
  <h1>Delete Event</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label class="control-label" for="ev_ID">Enter Event ID: </label>
      <input
        class="form-control"
        id="ev_ID"
        name="ev_ID"
        [(ngModel)]="event._id"
        required
        autofocus
      />
    </div>
    <button mat-raised-button color="accent" routerLink="/home">
      Back to home
    </button>
    <button mat-raised-button color="accent" type="submit">Delete</button
    >&nbsp;&nbsp;
  </form>
</div>
