<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">
    <h4>Create Event</h4>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <!-- Edit to make this an Angular template-driven form -->

      <div class="form-group">
        <label class="control-label" for="ev_name">Event name:</label>
        <input
          class="form-control"
          id="ev_name"
          name="ev_name"
          minlength="3"
          maxlength="30"
          [(ngModel)]="newEvent.ev_name"
          required
          autofocus
        />
      </div>

      <div class="form-group">
        <label class="control-label" for="ev_company">Company:</label>
        <input class="form-control" id="ev_company" name="ev_company" [(ngModel)]="newEvent.ev_company" />
      </div>

      <div class="form-group">
        <label class="control-label" for="ev_description">Description:</label>
        <input
          class="form-control"
          id="ev_description"
          name="ev_description"
          [(ngModel)]="newEvent.ev_description"
        />
      </div>

      <button mat-raised-button color="accent" routerLink="/home">Back to home</button>
      <!-- <button class="btn btn-default" (click)='logout()'>Logout</button> -->
      <button mat-raised-button color="accent" type="submit">Create</button>&nbsp;&nbsp;

      <!--<span *ngIf="loginError.length > 0" class="text-danger">{{ loginError }}</span>-->
    </form>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
