<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark orange lighten-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/" routerLinkActive="active">Mesh</a></mdb-navbar-brand>

    <!-- If logged in -->
  <links *ngIf="auth.loggedIn">

   
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/eventFeed" routerLinkActive="active">Event Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/userContacts" routerLinkActive="active">User Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/eventCreate" routerLinkActive="active">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/eventJoin" routerLinkActive="active">Join Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/viewAllEvents" routerLinkActive="active">Search Events</a>
      </li>
    </ul>
  

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="auth.logout()">Log Out</a>
      </li>
    </ul>
  </links>
 
  <!-- If not logged in -->
  <links *ngIf="!auth.loggedIn">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="auth.login()">Log In</a>
      </li>
    </ul>
  </links>

</mdb-navbar>
<!--/.Navbar-->