<nav class="navbar navbar-default sticky-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">mesh</a>
    </div>
    <ul class="nav nav-tabs">
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/userCreate" routerLinkActive="active">Create Account</a>
      </li>
      <li>
        <a routerLink="/eventFeed" routerLinkActive="active">Event Feed</a>
      </li>
      <li>
        <a routerLink="/userContacts" routerLinkActive="active">User Page</a>
      </li>
      <li>
          <a routerLink="/viewAllEvents" routerLinkActive="active">Search Events</a>
      </li>
      <!--
      <li><a routerLink="/userCreate" routerLinkActive="active">Create Account</a></li>
      <li><a routerLink="/eventCreate" routerLinkActive="active">New Event</a></li>
      -->
      <li>
        <a routerLink="/eventJoin" routerLinkActive="active">Join Event Room</a>
      </li>
    </ul>
  </div>
</nav>
