<nav class="navbar navbar-default sticky-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button mat-button class="navbar-brand" routerLink="">mesh</button>
    </div>
    <ul class="nav nav-tabs">
      <li>
        <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
      </li>
      <li>
        <button mat-button routerLink="/userCreate" routerLinkActive="active">Create Account</button>
      </li>
      <li>
        <button mat-button routerLink="/eventFeed" routerLinkActive="active">Event Feed</button>
      </li>
      <li>
        <button mat-button routerLink="/userContacts" routerLinkActive="active">User Page</button>
      </li>
      <li>
          <button mat-button routerLink="/viewAllEvents" routerLinkActive="active">Search Events</button>
      </li>
      <li>
        <button mat-button routerLink="/eventCreate" routerLinkActive="active">Create Event</button>
    </li>
      <!--
      <li><a routerLink="/userCreate" routerLinkActive="active">Create Account</a></li>
      <li><a routerLink="/eventCreate" routerLinkActive="active">New Event</a></li>
      -->
      <li>
        <button mat-button routerLink="/eventJoin" routerLinkActive="active">Join Event Room</button>
      </li>
    </ul>
  </div>
</nav>
