<div class="col-md-2"></div>
<div class="col-md-8 col-sm-12">
  <h1>Enter a Event Code</h1>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <mat-form-field style="width: 100%;">
      <input
        matInput
        class="form-control"
        id="ev_code"
        [(ngModel)]="eventCode"
        name="eventCode"
        placeholder="Event Code ..."
        required
      />
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Join</button>
  </form>
</div>
