<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">
    <h4>Delete User</h4>
    <h5>WARNING!!!!!! THERE IS NO WAY TO UNDO DELETING YOUR ACCOUNT!</h5>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <!-- Edit to make this an Angular template-driven form -->

      <div class="form-group">
        <label class="control-label" for="ev_ID">Enter Password: </label>
        <input class="form-control" id="ev_ID" name="ev_ID" [(ngModel)]="credentials.user_password" required autofocus />
      </div>

      <a class="btn btn-default" routerLink="/home">Back to home</a>&nbsp;&nbsp;
      <!-- <button class="btn btn-default" (click)='logout()'>Logout</button> -->
      <button class="btn-success" (click)="(onSubmit)">Delete</button>&nbsp;&nbsp;

      <!--<span *ngIf="loginError.length > 0" class="text-danger">{{ loginError }}</span>-->
    </form>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
